# DS-SF-36 | 03 | `pandas` | Codealong | Starter Code

(http://pandas.pydata.org/pandas-docs/stable)

## Part A | Introduction to `pandas`

In [177]:
import os  

import pandas as pd
pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

In [178]:
!pwd   ###where am i?

/Users/nikka.keivanfar/DS-SF-36/classes/03/notebooks

In [179]:
!ls ../datasets

dataset-03-bistro.csv              dataset-03-zillow-transactions.csv
dataset-03-zillow-properties.csv

In [180]:
!ls

assignment-03-pandas-starter-code-RyanK practice renaming.ipynb
assignment-03-pandas-starter-code.ipynb
codealong-03-pandas-starter-code-RyanK practice.ipynb
codealong-03-pandas-starter-code.ipynb

In [181]:
!ls

assignment-03-pandas-starter-code-RyanK practice renaming.ipynb
assignment-03-pandas-starter-code.ipynb
codealong-03-pandas-starter-code-RyanK practice.ipynb
codealong-03-pandas-starter-code.ipynb

In [182]:
!cat ../datasets/dataset-03-zillow-properties.csv   ###cat = show me contents of this file

> ## `pd.read_csv()`: load datasets from files (or even over the Internet)

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)

In [183]:
df = pd.read_csv(os.path.join('..', 'datasets', 'dataset-03-zillow-properties.csv')) ###assign it to a data frame "df"

> ## `DataFrame`

Let's check `df`'s type:

In [184]:
type(df) ###what is the type of df? "... .DataFrame" = it' a data frame, yay

pandas.core.frame.DataFrame

`df` is a `DataFrame`.  (http://pandas.pydata.org/pandas-docs/stable/dsintro.html)

A `DataFrame` stores tabular data.  Let's have a look at its content:

In [185]:
df

,ID,Address,Latitude,Longitude,IsAStudio,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
0,2121978635,"829 Folsom St UNIT 906, San Francisco, CA",37781429,-122401860,False,...,557.0,sqft,NaN,NaN,2010.0
1,89239580,"690 Market St UNIT 1705, San Francisco, CA",37788246,-122403198,False,...,1050.0,sqft,NaN,NaN,2007.0
2,15131782,"401 Grand View Ave APT 3, San Francisco, CA",37752157,-122442356,False,...,937.0,sqft,NaN,NaN,1983.0
3,15179502,"250 Concord St, San Francisco, CA",37710141,-122442063,False,...,1574.0,sqft,1947.0,sqft,1959.0
4,52266124,"88 King St APT 317, San Francisco, CA",37780630,-122389635,False,...,1205.0,sqft,NaN,NaN,2000.0
...,...,...,...,...,...,...,...,...,...,...,...
995,82786211,"310 Townsend St APT 311, San Francisco, CA",37777027,-122395736,False,...,853.0,sqft,NaN,NaN,2006.0
996,15103435,"1343 31st Ave, San Francisco, CA",37762152,-122490254,False,...,1886.0,sqft,3000.0,sqft,1934.0
997,15195183,"3916 Alemany Blvd, San Francisco, CA",37711527,-122467755,False,...,1300.0,sqft,2553.0,sqft,1941.0
998,15180783,"430 Fair Oaks St, San Francisco, CA",37749725,-122424094,False,...,2678.0,sqft,NaN,NaN,1911.0
999,54854296,"720 Stockton St APT 3, San Francisco, CA",37792578,-122407366,False,...,886.0,sqft,NaN,NaN,2001.0

> ## `.head()`: first 5 (default) rows

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.head.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.head.html)

In [186]:
df.head()    ####".head" is by default 5 rowws

,ID,Address,Latitude,Longitude,IsAStudio,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
0,2121978635,"829 Folsom St UNIT 906, San Francisco, CA",37781429,-122401860,False,...,557.0,sqft,NaN,NaN,2010.0
1,89239580,"690 Market St UNIT 1705, San Francisco, CA",37788246,-122403198,False,...,1050.0,sqft,NaN,NaN,2007.0
2,15131782,"401 Grand View Ave APT 3, San Francisco, CA",37752157,-122442356,False,...,937.0,sqft,NaN,NaN,1983.0
3,15179502,"250 Concord St, San Francisco, CA",37710141,-122442063,False,...,1574.0,sqft,1947.0,sqft,1959.0
4,52266124,"88 King St APT 317, San Francisco, CA",37780630,-122389635,False,...,1205.0,sqft,NaN,NaN,2000.0

In [187]:
df.head(7)   ###want more than 5 rows? (5 is default) then put number in parentheses

,ID,Address,Latitude,Longitude,IsAStudio,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
0,2121978635,"829 Folsom St UNIT 906, San Francisco, CA",37781429,-122401860,False,...,557.0,sqft,NaN,NaN,2010.0
1,89239580,"690 Market St UNIT 1705, San Francisco, CA",37788246,-122403198,False,...,1050.0,sqft,NaN,NaN,2007.0
2,15131782,"401 Grand View Ave APT 3, San Francisco, CA",37752157,-122442356,False,...,937.0,sqft,NaN,NaN,1983.0
3,15179502,"250 Concord St, San Francisco, CA",37710141,-122442063,False,...,1574.0,sqft,1947.0,sqft,1959.0
4,52266124,"88 King St APT 317, San Francisco, CA",37780630,-122389635,False,...,1205.0,sqft,NaN,NaN,2000.0
5,2100994004,"409 Miguel St, San Francisco, CA",37736625,-122427008,False,...,400.0,sqft,NaN,NaN,NaN
6,15067755,"1250 Clay St APT 306, San Francisco, CA",37793575,-122413670,False,...,541.0,sqft,NaN,NaN,1950.0

> ## `.tail()`: last 5 (default) rows

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.tail.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.tail.html)

In [188]:
df.tail()

,ID,Address,Latitude,Longitude,IsAStudio,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
995,82786211,"310 Townsend St APT 311, San Francisco, CA",37777027,-122395736,False,...,853.0,sqft,NaN,NaN,2006.0
996,15103435,"1343 31st Ave, San Francisco, CA",37762152,-122490254,False,...,1886.0,sqft,3000.0,sqft,1934.0
997,15195183,"3916 Alemany Blvd, San Francisco, CA",37711527,-122467755,False,...,1300.0,sqft,2553.0,sqft,1941.0
998,15180783,"430 Fair Oaks St, San Francisco, CA",37749725,-122424094,False,...,2678.0,sqft,NaN,NaN,1911.0
999,54854296,"720 Stockton St APT 3, San Francisco, CA",37792578,-122407366,False,...,886.0,sqft,NaN,NaN,2001.0

> ## `.shape`: shape (i.e., number of rows and columns)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.shape.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.shape.html)

In [189]:
df.shape   ###how many rows, how many columns? will return a tuple. first element is number of
            ####rows, next is number of columns
             ####cannot write df.shape() bc it is a tuple, can't manipulate

(1000, 12)

The first value (at index 0) is the number of rows, the second (at index 1), the number of columns:

In [190]:
df.shape[0]   ###what is the first element?

1000

In [191]:
df.shape[1]    ###what is the second element?

12

You can also use the idiomatic Python `len` function to get the number of rows:

In [192]:
len(df)   ####how many rows do you have? 
             ##### cannot get number of columns with len(), have to use xx.shape

1000

> ## `.dtypes`: column types

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.dtypes.html)
- (http://pandas.pydata.org/pandas-docs/stable/basics.html)

In [193]:
df.dtypes

ID               int64
Address         object
Latitude         int64
Longitude        int64
IsAStudio       object
                ...
Size           float64
SizeUnit        object
LotSize        float64
LotSizeUnit     object
BuiltInYear    float64
Length: 12, dtype: object

> ## `.isnull()` and `.notnull()`: NaN (Not-a-Number)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.isnull.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.isnull.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.isnull.html)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.notnull.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.notnull.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.notnull.html)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sum.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.sum.html)

As a data scientist, we will have to decide what to do when encountering missing values (a.k.a, not-a-numbers).  We might decide to drop the row containing it, drop the whole column, or impute it.  Today, let's focus on finding these NaNs.

In [194]:
df.isnull()  ####output of this is also a dataframe (tabular)

,ID,Address,Latitude,Longitude,IsAStudio,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
0,False,False,False,False,False,...,False,False,True,True,False
1,False,False,False,False,False,...,False,False,True,True,False
2,False,False,False,False,False,...,False,False,True,True,False
3,False,False,False,False,False,...,False,False,False,False,False
4,False,False,False,False,False,...,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,...,False,False,True,True,False
996,False,False,False,False,False,...,False,False,False,False,False
997,False,False,False,False,False,...,False,False,False,False,False
998,False,False,False,False,False,...,False,False,True,True,False
999,False,False,False,False,False,...,False,False,True,True,False

In [195]:
df.isnull().sum()   #####lot size and lot size unit (high values) tend to be values with 
                         ####missing data

ID               0
Address          0
Latitude         0
Longitude        0
IsAStudio       14
              ...
Size            33
SizeUnit        33
LotSize        444
LotSizeUnit    444
BuiltInYear     25
Length: 12, dtype: int64

In return, we get a new `DataFrame` with Boolean values.  `True` if the value is `NaN`, `False` otherwise.

We can also get the count per column:

In [196]:
df.isnull().sum()

ID               0
Address          0
Latitude         0
Longitude        0
IsAStudio       14
              ...
Size            33
SizeUnit        33
LotSize        444
LotSizeUnit    444
BuiltInYear     25
Length: 12, dtype: int64

Summing again will return the number of cells in the `DataFrame` with missing values.

In [197]:
df.isnull().sum().sum()   ####total number of CELLS with no data
                        #####"L" suffix in result is just to tell you that it's a long number

1215L

In [198]:
type(df.isnull().sum().sum())

long

Equivalently, we can also use the `.isnull()` function:

In [199]:
pd.isnull(df)   ###different way of getting the same answer
                ##### pd is for pandas

,ID,Address,Latitude,Longitude,IsAStudio,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
0,False,False,False,False,False,...,False,False,True,True,False
1,False,False,False,False,False,...,False,False,True,True,False
2,False,False,False,False,False,...,False,False,True,True,False
3,False,False,False,False,False,...,False,False,False,False,False
4,False,False,False,False,False,...,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,...,False,False,True,True,False
996,False,False,False,False,False,...,False,False,False,False,False
997,False,False,False,False,False,...,False,False,False,False,False
998,False,False,False,False,False,...,False,False,True,True,False
999,False,False,False,False,False,...,False,False,True,True,False

In [200]:
pd.isnull(df).sum()

ID               0
Address          0
Latitude         0
Longitude        0
IsAStudio       14
              ...
Size            33
SizeUnit        33
LotSize        444
LotSizeUnit    444
BuiltInYear     25
Length: 12, dtype: int64

In [201]:
pd.isnull(df).sum().sum()

1215L

We also also use `.notnull()`, its complement method:

In [202]:
df.notnull()

,ID,Address,Latitude,Longitude,IsAStudio,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
0,True,True,True,True,True,...,True,True,False,False,True
1,True,True,True,True,True,...,True,True,False,False,True
2,True,True,True,True,True,...,True,True,False,False,True
3,True,True,True,True,True,...,True,True,True,True,True
4,True,True,True,True,True,...,True,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...
995,True,True,True,True,True,...,True,True,False,False,True
996,True,True,True,True,True,...,True,True,True,True,True
997,True,True,True,True,True,...,True,True,True,True,True
998,True,True,True,True,True,...,True,True,False,False,True
999,True,True,True,True,True,...,True,True,False,False,True

In [203]:
pd.notnull(df)

,ID,Address,Latitude,Longitude,IsAStudio,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
0,True,True,True,True,True,...,True,True,False,False,True
1,True,True,True,True,True,...,True,True,False,False,True
2,True,True,True,True,True,...,True,True,False,False,True
3,True,True,True,True,True,...,True,True,True,True,True
4,True,True,True,True,True,...,True,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...
995,True,True,True,True,True,...,True,True,False,False,True
996,True,True,True,True,True,...,True,True,True,True,True
997,True,True,True,True,True,...,True,True,True,True,True
998,True,True,True,True,True,...,True,True,False,False,True
999,True,True,True,True,True,...,True,True,False,False,True

> ### `.index` and `.columns`: row and column labels

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Index.html)

Use the `.index` property to get the label for rows.  For columns, use the `.columns` property.

In [204]:
df.index ###labels on the rows; up to (not including ) stop. aka 0 - 999

RangeIndex(start=0, stop=1000, step=1)

In [205]:
type(df.index)

pandas.core.indexes.range.RangeIndex

In this specific case, rows are just numbered from 0 to 1,000.  Note that, similarly to Python's standard `range` function, this range also excludes the last number.

In [206]:
df.columns   ###label on the columns

Index([u'ID', u'Address', u'Latitude', u'Longitude', u'IsAStudio', u'Beds',
       u'Baths', u'Size', u'SizeUnit', u'LotSize', u'LotSizeUnit',
       u'BuiltInYear'],
      dtype='object')

In [207]:
df.columns[3]

'Longitude'

In [208]:
type(df.columns)

pandas.core.indexes.base.Index

> ## `[ [] ]` and `[]`: subsetting on columns

Selecting specific columns is performed by using the `[]` operator.

If the values passed to `[]` are non-integers, the `DataFrame` will attempt to match them to those in the `columns` property.

> Let's subset the `DataFrame` on columns `Size` and `SizeUnit`:

In [209]:
df[ ['Size', 'SizeUnit']   ]  ###looking at just a specific part of the data frame

       Size SizeUnit
0     557.0     sqft
1    1050.0     sqft
2     937.0     sqft
3    1574.0     sqft
4    1205.0     sqft
..      ...      ...
995   853.0     sqft
996  1886.0     sqft
997  1300.0     sqft
998  2678.0     sqft
999   886.0     sqft

[1000 rows x 2 columns]

> How about just on `Address`?

In [210]:
df['Address']

0        829 Folsom St UNIT 906, San Francisco, CA
1       690 Market St UNIT 1705, San Francisco, CA
2      401 Grand View Ave APT 3, San Francisco, CA
3                250 Concord St, San Francisco, CA
4            88 King St APT 317, San Francisco, CA
                          ...
995     310 Townsend St APT 311, San Francisco, CA
996               1343 31st Ave, San Francisco, CA
997           3916 Alemany Blvd, San Francisco, CA
998            430 Fair Oaks St, San Francisco, CA
999       720 Stockton St APT 3, San Francisco, CA
Name: Address, Length: 1000, dtype: object

In [211]:
type(df['Address'])

pandas.core.series.Series

> ## `Series`

(http://pandas.pydata.org/pandas-docs/stable/dsintro.html)

Not passing a list will result in a `Series`:

In [212]:
df['Address']

0        829 Folsom St UNIT 906, San Francisco, CA
1       690 Market St UNIT 1705, San Francisco, CA
2      401 Grand View Ave APT 3, San Francisco, CA
3                250 Concord St, San Francisco, CA
4            88 King St APT 317, San Francisco, CA
                          ...
995     310 Townsend St APT 311, San Francisco, CA
996               1343 31st Ave, San Francisco, CA
997           3916 Alemany Blvd, San Francisco, CA
998            430 Fair Oaks St, San Francisco, CA
999       720 Stockton St APT 3, San Francisco, CA
Name: Address, Length: 1000, dtype: object

In [213]:
df.Address

0        829 Folsom St UNIT 906, San Francisco, CA
1       690 Market St UNIT 1705, San Francisco, CA
2      401 Grand View Ave APT 3, San Francisco, CA
3                250 Concord St, San Francisco, CA
4            88 King St APT 317, San Francisco, CA
                          ...
995     310 Townsend St APT 311, San Francisco, CA
996               1343 31st Ave, San Francisco, CA
997           3916 Alemany Blvd, San Francisco, CA
998            430 Fair Oaks St, San Francisco, CA
999       720 Stockton St APT 3, San Francisco, CA
Name: Address, Length: 1000, dtype: object

> Let's check the result type:

In [214]:
# TODO

Columns can also be retrieved using "attribute" access as `DataFrame`s add a property for each column with the names of the properties as the names of the columns.  This won't work however for columns that have spaces or dots in their name.

> Let's check the value of `df`'s `.Address` property:

In [215]:
foo = df.Address

In [216]:
# TODO
foo.name

'Address'

> Use the `.name` property (not `.columns`, that's for a `DataFrame`) to get the name of the variable stored inside it.

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.name.html)

In [217]:
# TODO

> ## `[]`: slicing on rows

> E.g., on the first five rows:

In [218]:
lst = ['foo', 'bar', 'bonjour', 'bonsoir']

In [219]:
lst[:2]

['foo', 'bar']

In [220]:
lst[2:4]

['bonjour', 'bonsoir']

In [221]:
df[:5]

,ID,Address,Latitude,Longitude,IsAStudio,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
0,2121978635,"829 Folsom St UNIT 906, San Francisco, CA",37781429,-122401860,False,...,557.0,sqft,NaN,NaN,2010.0
1,89239580,"690 Market St UNIT 1705, San Francisco, CA",37788246,-122403198,False,...,1050.0,sqft,NaN,NaN,2007.0
2,15131782,"401 Grand View Ave APT 3, San Francisco, CA",37752157,-122442356,False,...,937.0,sqft,NaN,NaN,1983.0
3,15179502,"250 Concord St, San Francisco, CA",37710141,-122442063,False,...,1574.0,sqft,1947.0,sqft,1959.0
4,52266124,"88 King St APT 317, San Francisco, CA",37780630,-122389635,False,...,1205.0,sqft,NaN,NaN,2000.0

> ## `.loc[]` and `.iloc[]`: subsetting rows by index label and location

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.loc.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.loc.html)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.iloc.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.iloc.html)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.set_index.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.set_index.html)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.reset_index.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.reset_index.html)

Until now, the index of the `DataFrame` is a numerical starting from 0 but you can specify which column(s) should be in the index.

> E.g., `ID`:

In [222]:
df.iloc[[6,7,12]]

,ID,Address,Latitude,Longitude,IsAStudio,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
6,15067755,"1250 Clay St APT 306, San Francisco, CA",37793575,-122413670,False,...,541.0,sqft,NaN,NaN,1950.0
7,15112556,"1819 26th Ave, San Francisco, CA",37753480,-122484273,False,...,1175.0,sqft,2996.0,sqft,1939.0
12,79844821,"638 19th St UNIT 10, San Francisco, CA",37762084,-122389007,False,...,1467.0,sqft,NaN,NaN,2007.0

In [223]:
df = df.set_index('ID')

In [224]:
df.index

Int64Index([2121978635,   89239580,   15131782,   15179502,   52266124,
            2100994004,   15067755,   15112556,   15133321,   61288341,
            ...
              63197318,   15064669,   15142024,   61288364,   69819412,
              82786211,   15103435,   15195183,   15180783,   54854296],
           dtype='int64', name=u'ID', length=1000)

In [225]:
df    ####still have 1000 rows, but initially had 12 columns, now only have 11
        ### columns specified as index no longer on display

,Address,Latitude,Longitude,IsAStudio,Beds,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,
2121978635,"829 Folsom St UNIT 906, San Francisco, CA",37781429,-122401860,False,1.0,...,557.0,sqft,NaN,NaN,2010.0
89239580,"690 Market St UNIT 1705, San Francisco, CA",37788246,-122403198,False,2.0,...,1050.0,sqft,NaN,NaN,2007.0
15131782,"401 Grand View Ave APT 3, San Francisco, CA",37752157,-122442356,False,2.0,...,937.0,sqft,NaN,NaN,1983.0
15179502,"250 Concord St, San Francisco, CA",37710141,-122442063,False,4.0,...,1574.0,sqft,1947.0,sqft,1959.0
52266124,"88 King St APT 317, San Francisco, CA",37780630,-122389635,False,2.0,...,1205.0,sqft,NaN,NaN,2000.0
...,...,...,...,...,...,...,...,...,...,...,...
82786211,"310 Townsend St APT 311, San Francisco, CA",37777027,-122395736,False,1.0,...,853.0,sqft,NaN,NaN,2006.0
15103435,"1343 31st Ave, San Francisco, CA",37762152,-122490254,False,3.0,...,1886.0,sqft,3000.0,sqft,1934.0
15195183,"3916 Alemany Blvd, San Francisco, CA",37711527,-122467755,False,3.0,...,1300.0,sqft,2553.0,sqft,1941.0
15180783,"430 Fair Oaks St, San Francisco, CA",37749725,-122424094,False,4.0,...,2678.0,sqft,NaN,NaN,1911.0
54854296,"720 Stockton St APT 3, San Francisco, CA",37792578,-122407366,False,2.0,...,886.0,sqft,NaN,NaN,2001.0

> E.g., row with index 15063505:

In [226]:
df.loc[[15063505]]   ###looking at specific house with above index

,Address,Latitude,Longitude,IsAStudio,Beds,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,
15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,False,NaN,...,1430.0,sqft,2435.0,sqft,1948.0

Its name is its value in the index.

> E.g., rows with indices 15063505 and 15064044:

In [227]:
df.loc[[15063505, 15064044]]

,Address,Latitude,Longitude,IsAStudio,Beds,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,
15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,False,NaN,...,1430.0,sqft,2435.0,sqft,1948.0
15064044,"199 Chestnut St APT 5, San Francisco, CA",37804392,-122406590,False,1.0,...,1060.0,sqft,NaN,NaN,1930.0

In [228]:
df.loc[15064044] ##single bracket, get a series instead

Address        199 Chestnut St APT 5, San Francisco, CA
Latitude                                       37804392
Longitude                                    -122406590
IsAStudio                                         False
Beds                                                  1
                                 ...
Size                                               1060
SizeUnit                                           sqft
LotSize                                             NaN
LotSizeUnit                                         NaN
BuiltInYear                                        1930
Name: 15064044, Length: 11, dtype: object

In [229]:
df.loc[15064044].Address

'199 Chestnut St APT 5, San Francisco, CA'

In [230]:
####.iloc looks at particular posiitons
####.loc looks at the values

> E.g., rows #1 and #3:

In [231]:
df.iloc[[1,3]]

,Address,Latitude,Longitude,IsAStudio,Beds,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,
89239580,"690 Market St UNIT 1705, San Francisco, CA",37788246,-122403198,False,2.0,...,1050.0,sqft,NaN,NaN,2007.0
15179502,"250 Concord St, San Francisco, CA",37710141,-122442063,False,4.0,...,1574.0,sqft,1947.0,sqft,1959.0

> ## Subsetting rows by Boolean selection (a.k.a., masking)

Rows can also be selected by using Boolean selection, using an array calculated from the result of applying a logical condition on the values in any of the columns.  This allows us to build more complicated selections than those based simply upon index labels or positions.

> E.g., what homes have been built before 1900?

In [232]:
df.columns

Index([u'Address', u'Latitude', u'Longitude', u'IsAStudio', u'Beds', u'Baths',
       u'Size', u'SizeUnit', u'LotSize', u'LotSizeUnit', u'BuiltInYear'],
      dtype='object')

In [233]:
df.BuiltInYear

ID
2121978635    2010.0
89239580      2007.0
15131782      1983.0
15179502      1959.0
52266124      2000.0
               ...
82786211      2006.0
15103435      1934.0
15195183      1941.0
15180783      1911.0
54854296      2001.0
Name: BuiltInYear, Length: 1000, dtype: float64

> Let's subset on that `Series`:

In [234]:
df.BuiltInYear <1900  ####now want to select all the ones marked true

ID
2121978635    False
89239580      False
15131782      False
15179502      False
52266124      False
              ...
82786211      False
15103435      False
15195183      False
15180783      False
54854296      False
Name: BuiltInYear, Length: 1000, dtype: bool

In [235]:
df[   df.BuiltInYear < 1900  ]

,Address,Latitude,Longitude,IsAStudio,Beds,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,
123597388,"667 Shotwell St # A, San Francisco, CA",37757851,-122415629,False,1.0,...,1212.0,sqft,NaN,NaN,1890.0
63197592,"3021 20th St, San Francisco, CA",37758878,-122411147,False,1.0,...,1267.0,sqft,NaN,NaN,1890.0
15145720,"956 S Van Ness Ave, San Francisco, CA",37757832,-122417139,False,4.0,...,3500.0,sqft,4165.0,sqft,1872.0
119684777,"967 Hayes St, San Francisco, CA",37775645,-122432222,False,4.0,...,3006.0,sqft,NaN,NaN,1885.0
15181209,"1001 Diamond St # 1001A, San Francisco, CA",37749461,-122435844,False,3.0,...,2032.0,sqft,1913.0,sqft,1892.0
...,...,...,...,...,...,...,...,...,...,...,...
15065140,"1407 Montgomery St APT 2, San Francisco, CA",37802299,-122404941,False,1.0,...,1000.0,sqft,NaN,NaN,1870.0
15084954,"1954 Golden Gate Ave, San Francisco, CA",37778420,-122443073,False,2.0,...,1515.0,sqft,NaN,NaN,1895.0
15078536,"640 Steiner St, San Francisco, CA",37775399,-122432491,False,2.0,...,1593.0,sqft,NaN,NaN,1895.0
15082108,"3016 Sacramento St, San Francisco, CA",37788970,-122442995,False,2.0,...,1408.0,sqft,NaN,NaN,1890.0
15076156,"1533 Sutter St, San Francisco, CA",37786658,-122426481,False,6.0,...,7375.0,sqft,2748.0,sqft,1890.0

In [236]:
# TODO

Multiple conditions can be put together.

> E.g., subset for `BuiltInYear` below 1900 and `Size` over 1500:

In [240]:
df.[  df.BuiltInyear < 1900 and df.Size >1500 ]   ##wont work

SyntaxError: invalid syntax (<ipython-input-240-460d335e98c7>, line 1)

It is possible to subset on columns simultaneously.

> E.g., subset (a `DataFrame`) on `Address` for `BuiltInYear` below 1900 and `Size` over 1500:

In [241]:
# TODO

> To get a `Series` instead of a `DataFrame`:

In [242]:
# TODO

## Part B | Wrangling the SF Housing dataset (take 2) with `pandas`

In [243]:
properties_df = pd.read_csv(os.path.join('..', 'datasets', 'dataset-03-zillow-properties.csv'), index_col = 'ID')
transactions_df = pd.read_csv(os.path.join('..', 'datasets', 'dataset-03-zillow-transactions.csv'), index_col = 'ID')

(`pd.read_csv` can load the dataset and set the index column for the `DataFrame` at the same time)

In [244]:
properties_df.head()

,Address,Latitude,Longitude,IsAStudio,Beds,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,
2121978635,"829 Folsom St UNIT 906, San Francisco, CA",37781429,-122401860,False,1.0,...,557.0,sqft,NaN,NaN,2010.0
89239580,"690 Market St UNIT 1705, San Francisco, CA",37788246,-122403198,False,2.0,...,1050.0,sqft,NaN,NaN,2007.0
15131782,"401 Grand View Ave APT 3, San Francisco, CA",37752157,-122442356,False,2.0,...,937.0,sqft,NaN,NaN,1983.0
15179502,"250 Concord St, San Francisco, CA",37710141,-122442063,False,4.0,...,1574.0,sqft,1947.0,sqft,1959.0
52266124,"88 King St APT 317, San Francisco, CA",37780630,-122389635,False,2.0,...,1205.0,sqft,NaN,NaN,2000.0

In [245]:
transactions_df.head()

         DateOfSale  SalePrice SalePriceUnit
ID
15165953     1/5/16  650000.00             $
80749447   11/10/15       1.15            $M
15155751   11/10/15  665000.00             $
15143887   12/31/15       2.10            $M
15117639   12/23/15       1.35            $M

> ### Merge both `DataFrames`

(https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html)

In [246]:
df = properties_df.merge(transactions_df,  left_index = True, right_index = True)

In [247]:
df.columns

Index([u'Address', u'Latitude', u'Longitude', u'IsAStudio', u'Beds', u'Baths',
       u'Size', u'SizeUnit', u'LotSize', u'LotSizeUnit', u'BuiltInYear',
       u'DateOfSale', u'SalePrice', u'SalePriceUnit'],
      dtype='object')

In [248]:
df

,Address,Latitude,Longitude,IsAStudio,Beds,...,LotSizeUnit,BuiltInYear,DateOfSale,SalePrice,SalePriceUnit
ID,,,,,,,,,,,
2121978635,"829 Folsom St UNIT 906, San Francisco, CA",37781429,-122401860,False,1.0,...,NaN,2010.0,12/6/15,675000.00,$
89239580,"690 Market St UNIT 1705, San Francisco, CA",37788246,-122403198,False,2.0,...,NaN,2007.0,11/23/15,1.05,$M
15131782,"401 Grand View Ave APT 3, San Francisco, CA",37752157,-122442356,False,2.0,...,NaN,1983.0,11/18/15,1.03,$M
15179502,"250 Concord St, San Francisco, CA",37710141,-122442063,False,4.0,...,sqft,1959.0,12/4/15,815000.00,$
52266124,"88 King St APT 317, San Francisco, CA",37780630,-122389635,False,2.0,...,NaN,2000.0,12/15/15,1.16,$M
...,...,...,...,...,...,...,...,...,...,...,...
82786211,"310 Townsend St APT 311, San Francisco, CA",37777027,-122395736,False,1.0,...,NaN,2006.0,12/8/15,900000.00,$
15103435,"1343 31st Ave, San Francisco, CA",37762152,-122490254,False,3.0,...,sqft,1934.0,12/18/15,1.25,$M
15195183,"3916 Alemany Blvd, San Francisco, CA",37711527,-122467755,False,3.0,...,sqft,1941.0,12/30/15,400000.00,$
15180783,"430 Fair Oaks St, San Francisco, CA",37749725,-122424094,False,4.0,...,NaN,1911.0,12/10/15,2.29,$M
54854296,"720 Stockton St APT 3, San Francisco, CA",37792578,-122407366,False,2.0,...,NaN,2001.0,11/25/15,1.25,$M

In [249]:
len(df)

1000

> ### Sort rows by increasing ID

(https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_index.html)

In [250]:
df.sort_index(inplace = True)

In [251]:
df

,Address,Latitude,Longitude,IsAStudio,Beds,...,LotSizeUnit,BuiltInYear,DateOfSale,SalePrice,SalePriceUnit
ID,,,,,,,,,,,
15063471,"55 Vandewater St APT 9, San Francisco, CA",37805103,-122412856,False,1.0,...,NaN,1980.0,12/4/15,710000.00,$
15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,False,NaN,...,sqft,1948.0,11/30/15,2.15,$M
15063609,"819 Francisco St, San Francisco, CA",37803728,-122419055,False,2.0,...,sqft,1976.0,11/12/15,5.60,$M
15064044,"199 Chestnut St APT 5, San Francisco, CA",37804392,-122406590,False,1.0,...,NaN,1930.0,12/11/15,1.50,$M
15064257,"111 Chestnut St APT 403, San Francisco, CA",37804240,-122405509,False,2.0,...,NaN,1993.0,1/15/16,970000.00,$
...,...,...,...,...,...,...,...,...,...,...,...
2124214951,"412 Green St APT A, San Francisco, CA",37800040,-122406100,True,NaN,...,NaN,2012.0,1/15/16,390000.00,$
2126960082,"355 1st St UNIT 1905, San Francisco, CA",37787029,-122393638,False,1.0,...,NaN,2004.0,11/20/15,860000.00,$
2128308939,"33 Santa Cruz Ave, San Francisco, CA",37709136,-122465332,False,3.0,...,sqft,1976.0,12/10/15,830000.00,$
2131957929,"1821 Grant Ave, San Francisco, CA",37803760,-122408531,False,2.0,...,NaN,1975.0,12/15/15,835000.00,$
2136213970,"1200 Gough St, San Francisco, CA",37784770,-122424100,False,1.0,...,NaN,1966.0,1/10/16,825000.00,$

> ### Remove the `Latitude` and `Longitude` columns

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop.html)

In [252]:
df.drop(['Latitude', 'Longitude'], axis = 1, inplace = True)

In [253]:
df.drop(['Latitude', 'Longitude'], axis = 1, inplace = True)

ValueError: labels ['Latitude' 'Longitude'] not contained in axis

In [ ]:
df

> ### `SalePrice`: scale all amount to `$M`

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.unique.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.concat.html)

In [254]:
df.SalePriceUnit.unique()   ###all possible values in a column .unique()

array(['$', '$M'], dtype=object)

In [255]:
df_1 = df[df.SalePriceUnit == '$'] ###all houses for which sales price is in dollars
df_1 = df_1.drop('SalePriceUnit', axis = 1) ##dont care about this column, drop it

# Scaling sale price to $M
df_1.SalePrice /= 10 ** 6 

df_6 = df[df.SalePriceUnit == '$M']
df_6 = df_6.drop('SalePriceUnit', axis = 1)

In [256]:
# Concatenate of two DataFrames by rows
df = pd.concat([df_1, df_6])

In [257]:
# Resort the new DataFrame
df.sort_index(inplace = True)

df_1

In [258]:
df_1

,Address,IsAStudio,Beds,Baths,Size,...,LotSize,LotSizeUnit,BuiltInYear,DateOfSale,SalePrice
ID,,,,,,,,,,,
15063471,"55 Vandewater St APT 9, San Francisco, CA",False,1.0,NaN,550.0,...,NaN,NaN,1980.0,12/4/15,0.710
15064257,"111 Chestnut St APT 403, San Francisco, CA",False,2.0,2.0,1299.0,...,NaN,NaN,1993.0,1/15/16,0.970
15064295,"111 Chestnut St APT 702, San Francisco, CA",False,2.0,2.0,1033.0,...,NaN,NaN,1993.0,12/17/15,0.940
15064391,"1821 Grant Ave APT 101, San Francisco, CA",False,1.0,1.0,1048.0,...,NaN,NaN,1975.0,12/15/15,0.835
15065032,"101 Lombard St APT 116E, San Francisco, CA",False,1.0,1.0,1000.0,...,NaN,NaN,1983.0,12/7/15,0.800
...,...,...,...,...,...,...,...,...,...,...,...
2124214951,"412 Green St APT A, San Francisco, CA",True,NaN,1.0,264.0,...,NaN,NaN,2012.0,1/15/16,0.390
2126960082,"355 1st St UNIT 1905, San Francisco, CA",False,1.0,1.0,691.0,...,NaN,NaN,2004.0,11/20/15,0.860
2128308939,"33 Santa Cruz Ave, San Francisco, CA",False,3.0,3.0,1738.0,...,2299.0,sqft,1976.0,12/10/15,0.830
2131957929,"1821 Grant Ave, San Francisco, CA",False,2.0,2.0,1048.0,...,NaN,NaN,1975.0,12/15/15,0.835
2136213970,"1200 Gough St, San Francisco, CA",False,1.0,1.0,900.0,...,NaN,NaN,1966.0,1/10/16,0.825

> ### `IsAStudio`: convert from a Boolean to a binary variable (i.e., 0 or 1)

In [ ]:
# TODO

In [ ]:
df.IsAStudio   ###IsAStudio has trues and false
                ####what if we wanted to convert to 0 and 1?

In [ ]:
df.IsAStudio *= 1

In [ ]:
df.IsAStudio

> ### `Size`

In [ ]:
df.SizeUnit.unique()

Size is either in square feet or missing.  Almost no work needed except to remove size unit.

In [ ]:
df.drop('SizeUnit', axis = 1, inplace = True)

> ### `LotSize`: scale all values to square feet

In [ ]:
df.LotSizeUnit.unique()

Lot sizes are either in square feet or in acres.  Let's convert them all to square feet.

> Group #1: the `na` values:

In [ ]:
df_na = df[df.LotSizeUnit.isnull()]
df_na = df_na.drop('LotSizeUnit', axis = 1)

df_na.shape[0]

> Group #2: the `sqft` values:

In [ ]:
# TODO (use df_sqft)

> Group #3: the `ac` values:

In [ ]:
# TODO (use df_ac)

> Let's scale these `acre` values into `sqft`:

In [ ]:
# (1 acre = 43,560 sqft)

# TODO

Let's now put everything back together...

In [ ]:
df = pd.concat([df_na, df_sqft, df_ac]).sort_index()

In [ ]:
df

> ## `.to_csv`: save the `DataFrame` into a `.csv` file

At the end of each phase (i.e., wrangling) of your data science project, it is a good idea to save your dataset into disk.  Then for the next step, create a new Jupyther notebook and load your updated dataset

In [ ]:
df.to_csv(os.path.join('..', 'datasets', 'dataset-03-zillow.csv'), index_label = 'ID')

## Part C | Advanced topics

### `.groupby()`

(http://pandas.pydata.org/pandas-docs/stable/groupby.html)

> What is the mean price of houses by number of bathrooms?

In [2]:
df = pd.read_csv(os.path.join('..', 'datasets', 'dataset-03-zillow.csv'))

NameError: name 'pd' is not defined

In [3]:
df[ ['Baths', 'SalePrice'] ].groupby('Baths').mean()

NameError: name 'df' is not defined

### `.map()`

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.map.html)

When converting `SalePrice`, `Size`, and `LotSize` into `$M` and sqft, we could also have done the following:

In [ ]:
df = pd.read_csv(os.path.join('..', 'datasets', 'dataset-03-zillow-transactions.csv'))

In [ ]:
df.SalePriceUnit.unique()

In [ ]:
df.SalePriceUnit.map({'$': 1. / (10 ** 6), '$M': 1.})

In [ ]:
df.SalePrice *= df.SalePriceUnit.map({'$': 1. / (10 ** 6), '$M': 1.})

In [ ]:
df.SalePrice

In [ ]:
df.drop('SalePriceUnit', axis = 1, inplace = True)

In [ ]:
df

> ### Activity:  Using `.map()`, convert `Size` and `LotSize` to sqft.

In [ ]:
df = pd.read_csv(os.path.join('..', 'datasets', 'dataset-03-zillow-properties.csv'))

In [ ]:
# TODO

### `.to_datetime()`

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)

In [ ]:
df = pd.read_csv(os.path.join('..', 'datasets', 'dataset-03-zillow.csv'))

In [ ]:
df.DateOfSale

So far, the dates stored in the `DataFrame` are just strings.  We cannot easily extract the day, month, year.  Thanksfully, `pandas` provides some facilities to do so.

In [ ]:
pd.to_datetime(df.DateOfSale)

In [ ]:
df.DateOfSale = pd.to_datetime(df.DateOfSale)

### `.apply()`

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.apply.html)

In [ ]:
df.DateOfSale.apply(lambda date_of_sale: date_of_sale.year)

In [ ]:
df['YearOfSale'] = df.DateOfSale.apply(lambda date_of_sale: date_of_sale.year)
df['MonthOfSale'] = df.DateOfSale.apply(lambda date_of_sale: date_of_sale.month)
df['DayOfSale'] = df.DateOfSale.apply(lambda date_of_sale: date_of_sale.day)
df['WeekDayOfSale'] = df.DateOfSale.apply(lambda date_of_sale: date_of_sale.weekday_name)

df.drop('DateOfSale', axis = 1, inplace = True)

Now, we have the day, day of the week, month, and year of the sale as features in our dataset.

In [ ]:
df